{% extends 'base.html' %}

{% block content %}
    <form action="add_item/" method="post" class="form-inline">
        {% csrf_token %}
        <div class="row mt-4">
            <div class="col-auto">
                <h2>Add Item</h2>
                <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder="Type new To Do item...">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </div>
    </form>

    <div class="row mt-4">
        <div class="col-auto">
            <ul class="list-group">
                <li class="list-group-item ">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
{% endblock content %}