{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>base</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">TG To-Do List</a>
</nav>
<div class="container">
    <form action="add_item/" method="post" class="form-inline">
        {% csrf_token %}
        <div class="row mt-4">
            <div class="col-auto">
                <h2>Add Item</h2>
                <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder="Type new To Do item...">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </div>
    </form>

    <div class="row mt-4">
        <div class="col-auto">
            <ul class="list-group">
                {% for todo_item in todo_items %}
                    <li class="list-group-item">{{ todo_item.text }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% block content %}

    {% endblock content %}
</div>


</body>


</html>